body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.btn {
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    border-radius: 5px;
    top: var(--yPosition);
    left: var(--xPosition);
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}